html {
    background-color: #fff9f6;
}

header {
    margin: 10% 0%;
    background-color: #fff1ea;
}

h2 {
    color: #aaaaaa;
}

h1, h2, p, ul {
    margin: 10px 10%;
}

li {
    font-style: italic;
}

.title, .by, .author {
    text-align: center;
}

#copyright {
    color: #cccccc;
}

img {
    width: 50%;
    text-align: center;
    margin: 0% 25%;
}