/* TODO: investigate reponsive font-sizing */

/* DEBUG box-model
* { border: 1px dotted darkgreen; }
*/

html { background-color: #faded9; }

header {
    /*  source color from fishing image
        hsl(13, 81%, 79%);
    */
    background-color: #f7c7b9;
}

h1, h2, p, ul {
    /* `margin` and `padding` start at the `-top` and run clockwise */
    margin: 1% 2.5%;
}

h1, h2 { padding-top: 3% }

h2 { color: #777777; }

img {
    width: 90%;
    margin: 1% 2.5%;
    padding: 1% 2.5%;
}

li { font-style: italic; }

p { text-align: justify; }

.title, .by, .author { text-align: center; }

.title {
    margin-top: 0;
    padding-top: 1%;
}

    .by { font-size: 90% }
.author { font-size: 150% }

#copyright { color: #aaaaaa; }